.employee-image {
    margin-top: 30px;
    border-radius: 50%;
    width: 197px;
    height: 197px;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}