.main-container {
    width: 92%;
    margin: 0 auto;
    padding: 15px;
}

.landing-heading {
    width: 359px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 42.19px;
}

@media only screen and (min-width: 442px) {
    .main-container {
        width: 92%;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
    }

    .landing-heading {
        width: 577px;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 35px;
    }
}