.main-container {
    width: 92%;
    margin: 0 auto;
    padding: 15px;
}

.btn-offer {
    width: 164px;
    height: 41.39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    transition: all 1s ease;
}

@media only screen and (min-width: 442px) {
    .main-container {
        width: 92%;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
    }

    .btn-offer {
        width: 164px;
        height: 10px;
        padding: 10px 10px;
    }

    .btn-offer:hover {
        background-color: #FFFFFF;
        color: #000000;
    }
}