/* Stylowanie domyślne dla urządzeń mobilnych */
.main-body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
}

.main-container {
    width: 92%;
    margin: 0 auto;
}

.navbar {
    width: auto;
    height: 50px;
    background-color: #333;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    /* Padding dla małych ekranów */
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    /* Stosuje pionowy układ na małych ekranach */
    align-items: flex-start;
    font-size: 18px;
    font-weight: 700;
}

.navbar-item:not(:first-child),
.navbar-link,
.navbar-disabled {
    display: none;
    /* Ukrywa dodatkowe elementy na małych ekranach */
}

/* Stylowanie dla ekranów o szerokości 442px i większych */
@media only screen and (min-width: 442px) {
    .main-container {
        width: 90%;
        /* Można dostosować szerokość dla większych ekranów */
        padding: 0 30px;
        /* Większy padding dla większych ekranów */
    }

    .navbar {
        height: 60px;
        /* Większa wysokość navbara */
    }

    .navbar-list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* Dostosowanie paddingu */
    }

    .navbar-item:not(:first-child),
    .navbar-link,
    .navbar-disabled {
        display: flex;
    }

    .navbar-item {
        display: flex;
    }

    .navbar-item:first-child {
        margin-right: auto;
    }

    .navbar-link {
        text-decoration: none;
        color: #fff;
        margin-right: 15px;
    }

    .navbar-disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}