.mainContainer {
    width: 100%;
}

.offer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #405D78;
    justify-content: center;
    text-align: center;
}

.offerBoxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 24px;
}
